
.li-zise{
    font-size:17px;
}

.border{
    border-style: ridge;
    border-width: 1px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: rgb(190, 224, 224);
}
