
.li-zise{
    font-size:17px;
}

.border{
    border-style: ridge;
    border-width: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: rgb(190, 224, 224);
}