<!--Contenedor principal-->
<div class="container-fluid imgPortada" style="width: 100%;">

    <div class="container-fluid" style="width: 75%;">

        <br>
        <div class="row headerRow">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-8 center Header">
                <div class="row">
                  <div class="col-md-12">
                   <h1>Bienvenido a su Dist.Edu.1007 de Guerra</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>

        <!--Menú-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand btn-white">Menú</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown btn-info">
                  <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Ética
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" (click)="openMisionModal()">Misión</a>
                    <a class="dropdown-item" (click)="alert()">Visión</a>
                    <a class="dropdown-item" (click)="alert()">Valores</a>
                  </div>
                </li>
                <li class="nav-item dropdown btn-danger">
                  <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Historia
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" (click)="alert()">Misión</a>
                    <a class="dropdown-item" (click)="alert()">Visión</a>
                    <a class="dropdown-item" (click)="alert()">Valores</a>
                  </div>
                </li>
                <li class="nav-item dropdown btn-info">
                  <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Equipo
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" (click)="alert()">Misión</a>
                    <a class="dropdown-item" (click)="alert()">Visión</a>
                    <a class="dropdown-item" (click)="alert()">Valores</a>
                  </div>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Buscar">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
              </form>
            </div>
        </nav>

        <br>
        <br>

        <!--carousel-->

        <br>

        <ngb-carousel class="center" *ngIf="images" [showNavigationArrows]="true"
            [showNavigationIndicators]="showNavigationIndicators">
            <ng-template ngbSlide *ngFor="let image of images">
                <div class="picsum-img-wrapper">
                    <img [src]="image" alt="Random slide" style="width:70%; height:50%;">
                </div>
            </ng-template>
        </ngb-carousel>

        <br>

        <p class="textColorWhite" style="text-align: justify;">
            Según la constitución dominicana establece que: la Bandera Nacional contiene los colores; azul ultramar y
            rojo
            bermellón, en cuarteles esquinados y alternados de tal manera que el azul debe quedar en la parte superior
            del
            asta, separados por una cruz blanca, de un ancho igual a la mitad de la altura de cada cuartel, llevando en
            su
            centro el escudo de armas de la República.

            El día de la bandera tiene algunas controversias ya que según la Gaceta Oficial #5231 de mayo 1938 era la
            celebración de la misma, la cual fue declarado el 24 de octubre por motivo al nacimiento del Generalisímo
            Trujillo. Pero no fue hasta la finalización de la era Trujillista que la ley 6085 del 22 de octubre de 1962
            dio
            oficialmente el 27 de febrero día de la Independencia Nacional, como el día de la Bandera.

            Plaza de la BanderaSignificado

        </p>

        <br>

        <p class="textColorWhite" style="text-align: justify;">
            Según la constitución dominicana establece que: la Bandera Nacional contiene los colores; azul ultramar y
            rojo
            bermellón, en cuarteles esquinados y alternados de tal manera que el azul debe quedar en la parte superior
            del
            asta, separados por una cruz blanca, de un ancho igual a la mitad de la altura de cada cuartel, llevando en
            su
            centro el escudo de armas de la República.

            El día de la bandera tiene algunas controversias ya que según la Gaceta Oficial #5231 de mayo 1938 era la
            celebración de la misma, la cual fue declarado el 24 de octubre por motivo al nacimiento del Generalisímo
            Trujillo. Pero no fue hasta la finalización de la era Trujillista que la ley 6085 del 22 de octubre de 1962
            dio
            oficialmente el 27 de febrero día de la Independencia Nacional, como el día de la Bandera.

            Plaza de la BanderaSignificado

        </p>

        <br>


    </div>

</div>


<!--Mision Modal -->
<ng-template #misionModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Misión</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <h1 class="center"> Funcionalidad en desarrollo <br> Gracias por su paciencia...</h1>


    <div>
      <span [innerHTML]="editorValue" class="templateStyle"> </span>
  </div>

    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Closed" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


