.Header{
    color: rgb(252, 231, 231);
    text-align: center; 
    font-weight: bold;
}

.scroll {
    height:100%;
    overflow-y: scroll;
}

.textColorWhite{
    color: white;
}

.imgPortada{
    background: transparent;
    background-image: url(assets/img/portada/BandDom.jpg);
    height: 100%;
 }