
<div class="container">
    <div class="row">

        <ck-editor name="editor1" 
        [(ngModel)]="editorValue" 
        skin="moono-lisa" 
        language="es" 
        [fullPage]="true">

        </ck-editor>
                      
    </div>


    <!-- <div class="row">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="title">Prueab</h4>
        </div>
        <div class="modal-body">          
          <div>
              <span [innerHTML]="_editorValue"> </span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger button-close" (click)="close()"> CLOSE </button>
        </div>
      </div> -->
</div>
