// Here you can add other styles

.required{
    color: red;
    font-weight: bold;
    font-size: 20px;
  }
  
  .espacios{
    white-space: pre-wrap;
  }

.td_min {
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .textCenter{
    text-align: center;
  }

  .btn{
    border-radius: 4px;
    padding: 0.02rem;
  }

  .imgPortada{
    background: transparent;
    background-image: url(assets/img/portada/BandDom.jpg);
    height: 100%;
    /* Para dejar la imagen de fondo centrada, vertical yhorizontalmente */
    background-position: center center;

    /* Para que la imagen de fondo no se repita */
    background-repeat: no-repeat;

    /* La imagen se fija en la ventana de visualizaci칩n para que la altura de la imagen no supere a la del contenido */
    background-attachment: fixed;

    /* La imagen de fondo se reescala autom치ticamente con el cambio del ancho de ventana del navegador */
    background-size: cover;

  }

  .imglogin{
    background: transparent;
    background-image: url(assets/img/portada/logoDist1007.jpg);
    height: 100%;
    /* Para dejar la imagen de fondo centrada, vertical yhorizontalmente */
    background-position: center center;

    /* Para que la imagen de fondo no se repita */
    background-repeat: no-repeat;

    /* La imagen se fija en la ventana de visualizaci칩n para que la altura de la imagen no supere a la del contenido */
    background-attachment: fixed;

    /* La imagen de fondo se reescala autom치ticamente con el cambio del ancho de ventana del navegador */
    background-size: cover;

  }

  .portadaButton{
    font-size: 30px;
    width: 50%;
    border-radius: 4px;
  }

  .loginButton{
    font-size: 24px;
    width: 100%;
    border-radius: 4px;
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .colorBorder{
    border-radius: 5px;
    font-size: 16px;
    width: 35px;
  }

  .bold{
    font-weight: bold;
  }
  .center{
    text-align: center;
  }

  .right{
    text-align: right;
  }

  .justify{
    text-align: justify;
  }

  .templateStyle{
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
  }

  ._templateStyle{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
  }

  .tabl_eHeader_Color{
    background-color: rgb(159, 183, 207)
  }

  .textarea {
    text-align: justify;
  }

  .buttonCheckbox{
    font-size: 15px;
    width: 35px;
    color: white;
  }

  .cardLoginStyle{
    border-top: rgb(23, 137, 182) 10px solid;
    border-bottom: rgb(201, 12, 12) 10px solid;
    border-left: rgb(23, 137, 182) 10px solid;
    border-right: rgb(201, 12, 12) 10px solid;
  }

  
  .buttonSize_Save{
    font-size: 19px;
    width: 90px;
    border-radius: 4px;
  }

  .portadaLoginButton{
    font-size: 17px;
    width: 120px;
    border-radius: 4px;
  }

  .buttonSize_Closed{
    font-size: 19px;
    width: 90px;
    border-radius: 4px;
    margin-right: 40px;
  }

  
